@use "variables";

.main-header {
    background: linear-gradient(rgba(255, 182, 193, 0.8), rgba(255, 182, 193, 0.8));
    padding: 20px 20px; // Antes era 60px, lo bajamos para que todo suba
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px; // Reducimos la altura del bloque rosa
    width: 100%;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1400px;
        width: 100%;
        gap: 20px;
    }

    .header-photo img {
        width: 200px; // Foto un poco más pequeña para ganar espacio arriba
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        border: 6px solid variables.$blanco;
        box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    }

    .header-text {
        text-align: center;
        padding: 0 40px;
        color: variables.$gris-oscuro;
        flex: 1;

        h1 {
            font-family: variables.$fuente-titulos;
            font-size: 3rem;
            margin-bottom: variables.$separacion-titulo; // Aquí aplicamos el "aire"
            color: variables.$rosa-principal;
        }

        h2 {
            font-size: 1.5rem;
            letter-spacing: 1px;
            margin-bottom: 20px;
            color: variables.$rosa-oscuro;
        }

        p {
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 1.4;
            max-width: 800px;
            margin: 0 auto;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}