// Colores
$rosa-principal: #d81b60;
$rosa-oscuro: #ad1457;
$rosa-fondo: #fce4ec;
$blanco: #fff;
$gris-oscuro: #4a4a4a;

// Fuentes
$fuente-titulos: 'Dancing Script', cursive;
$fuente-principal: 'Montserrat', sans-serif;

// Aire (Espaciados)
$separacion-titulo: 45px; 
$separacion-seccion: 80px;